html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 100px;
}

body > header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  background-color: rgba(102, 102, 255, .85);
  z-index: 10;
}

header .header-content {
  padding: 1em;
  font-size: 24pt;
  color: antiquewhite;
  text-shadow: 1px 1px 0 #444
}

#container {
  position: relative;
  margin: 4px;
}

#left-div {
  float: left;
  width: calc(50% - 2px);
  overflow: visible;
}

#left-div > div.content {
  background: linear-gradient(palevioletred, goldenrod);
}

#right-div {
  float: right;
  width: calc(50% - 2px);
  overflow: visible;
}

#right-div > div.content {
  background: linear-gradient(mediumseagreen, dodgerblue);
}

div.content {
  padding: 8px;
}

div.content h1 {
  text-shadow: 0 0 2px yellow;
}

div.content h2 {
  text-shadow: 0 0 2px greenyellow;
}

.sticky-stick {
  position: relative;
}
